:root {
    /* --bgcolor: #4f7ae2;
    --ribbon-color: #223f81; */
    /* --bgcolor: linear-gradient(rgb(231, 23, 231),purple); */
    /* --bgcolor: rgb(231, 23, 231); */
    --title-color: rgb(63, 63, 63);
    --text-color: rgb(63, 63, 63);
    --title-highlight-color: orange;
}

body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}



.nav-bar {
    background-color: white;
}

.nav-bar h1 {
    color: black;
    text-shadow: -1px 1px 5px greenyellow;
}

.nav-bar #heading-1{
    margin-top: 0;
    margin-bottom:0;
}



.nav-bar .top-nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header li{
    list-style: none;
}



.page-name-bg{
    background-image: linear-gradient(blue, rgb(0, 153, 255));
}

.page-name {
    display: inline-flex
}

.page-name img{
    width: 100px;
    height: 100px;
    padding-top: 4px;
    padding-left: 40px;
    padding-right: 30px;
}

.nav-bar .top-nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.h-section-2-products a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}



.top-nav {
    /* background-image: linear-gradient(rgb(0, 153, 255), blue); */
    background-color: gray;
    display: inline-flex;
    width: 100%;
}

.top-nav ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 100px;
    padding-right: 75px;
    align-items: center;
}

.top-nav h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 40px;
    color: rgb(255, 235, 51);
    text-shadow: -1.2px 1.2px 2px black;
}

header {
}
.nav-bar{
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* 
.bottom-nav {
    
    display: inline-flex;
    width: 100%;
}

.bottom-nav ul {
    padding: 0;
}

.bottom-nav .dropdown {
    height: 50px;
    width: 250px;
    background-image: linear-gradient(rgb(0, 153, 255), blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.bottom-nav .dropdown:hover {
    background-image: linear-gradient(yellow, rgb(93, 192, 0));
}

.dropdown-items a{
    color: black;
}

.dropdown-items {
    display: none;
} */

.home-page {
    width: 80%;
    padding-left: 10%;
}

.h-section-1 {
    display: inline-flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

.h-section-1 img {
    width: 420%;
    height: 300%;
    padding-top: 20px;
}

.home-title {
    margin: 0;
    font-size: 40px;
    color: var(--title-color)
}

.home-para {
    color: var(--title-color)
}

#yellow {
    color: yellow;
}

.h-section-1-text {
    padding-left: 3%;
    color: var(--title-color);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.h-section-1-text button {
    background-color: white;
    width: 40%;
    height: 50px;
    border-color: black;
    border-width: 4px;

}

.h-section-1-text .button {
    padding-top: 40px;
}

.h-section-2-text {
    color: var(--title-color);
}







.h-section-2{
    padding-bottom: 100px;
}

.h-section-2-products img {
    border-radius: 50%;
    width: 80px;
    height: 75px;

}

.h-section-2-products .product {
    display: flex;
    background-color: aqua;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-top-left-radius: 20px;
    background-image: linear-gradient(to right, greenyellow, white);

}

.h-section-2-products .product h1 {
    padding-left: 15px;
}

.h-section-2-products .product:hover {
    background-image: linear-gradient(to left, greenyellow, white);
}

.h-section-3 {
    background-image: linear-gradient(rgb(119, 228, 255), rgb(184, 237, 250), rgb(119, 228, 255));
    border: 2px solid gray;
    border-radius: 10px;
}

.h-section-3-cards-margin {
    width: 90%;
    padding-left: 5%
}

.h-section-3 .card img{
    width: 80px
}

.h-section-3 .home-title {
    padding-bottom: 80px;
    padding-top: 20px;
}

.h-section-3-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.h-section-3-cards h3{
    color: var(--title-color)
}

.h-section-3-cards .card {
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 5px;
}

.h-section-3-cards .card:hover {
    background-color: rgb(214, 214, 214);
    
}

.h-section-3-cards .card:hover h3{
    font-size: 19px;   
    transition-duration: 50ms;  
}

.h-section-3-cards button {
    background-color: white;
    width: 80%;
    height: 40px;
    border-color: black;
    border-width: 4px;
}

.h-section-3-cards button:hover {
    background-color: gray;
    transition-duration: 0.2s;
}


/* THESE ARE THE HTE-ACKEE PAGE SELECTORS */
.hte-ackee-page {
    width: 80%;
    padding-left: 10%;
}

.ackee-page-top {
    padding-top: 30px;
}

.ackee-page-top h1 {
    font-size: 50px;
}

.ackee-page-top-text {
    width: 90%;
    padding-left: 5%;
}

.ackee-page-top-text .step-numbering {
    display: flex;
}

.ackee-page-top-text .step-numbering h1 {
    width: 75px; 
    height: 75px;
    background-image: linear-gradient(rgb(199, 199, 199), rgb(238, 238, 238));
    text-align: center;
    border-radius: 100px;
    box-shadow: -2px 2px 5px black;
}

.ackee-page-top-text .step-numbering .not-1 {
    margin-left: 50px;
}

.hte-ackee-page .step-numbering a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.hte-ackee-page .step-title-number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hte-ackee-page .step-title-number h2 {
    padding-left: 10px;
}

.ackee-page-bottom {
    margin-top: 50px;
    width: 90%;
    padding-left: 5%;
}



.ackee-page-bottom .instruction {
    margin-bottom: 30px;
    border-top: 1px solid gray;
}

.ackee-page-bottom .container {
    border-top: 2px solid black;
    border-radius: 20px;
    margin-bottom: 40px;
}

.ackee-page-bottom .container:hover {
    background-color: rgb(199, 199, 199);
}

.ackee-page-bottom .container button {
    margin-bottom: 10px;
}

.ackee-page-bottom .read-more-container .container {
    padding-left: 20px;
}

.read-more-text {
    display: none;
    font-size: 20px;
    background-color: rgb(238, 238, 238);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid black
}

.read-more-text--show {
    display: block;
}


