body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

}



.nav-bar {
    background-color: white;
}

.nav-bar h1 {
    color: black;
}

.nav-bar #heading-1{
    margin-top: 0;
    margin-bottom:0;
}

.nav-bar #heading-2{
    margin-top:0;
    margin-bottom:0;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header li{
    list-style: none;
}



.page-name-bg{
    background-image: linear-gradient(blue, rgb(0, 153, 255));
}

.page-name {
    display: inline-flex
}

.page-name img{
    width: 100px;
    height: 100px;
    padding-top: 4px;
    padding-left: 40px;
    padding-right: 30px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}



.top-nav {
    /* background-image: linear-gradient(rgb(0, 153, 255), blue); */
    background-color: gray;
    display: inline-flex;
    width: 100%;
}

.top-nav ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    padding-left: 100px;
    padding-right: 75px;
    align-items: center;
}

.top-nav h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    font-size: 40px;
    color: rgb(255, 235, 51);
}

header {
    position: relative;
}
.nav-bar{
    position: absolute;
    width: 100%;
}

.banner img {
    width: 100%;
    height: 100%;
}

/* 
.bottom-nav {
    
    display: inline-flex;
    width: 100%;
}

.bottom-nav ul {
    padding: 0;
}

.bottom-nav .dropdown {
    height: 50px;
    width: 250px;
    background-image: linear-gradient(rgb(0, 153, 255), blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.bottom-nav .dropdown:hover {
    background-image: linear-gradient(yellow, rgb(93, 192, 0));
}

.dropdown-items a{
    color: black;
}

.dropdown-items {
    display: none;
} */

.home-page {
    width: 80%;
    padding-left: 10%;
}

.h-section-1 {
    display: inline-flex;
    padding-top: 5%;
}

.h-section-1 img {
    width: 420%;
    height: 300%;
    padding-top: 20px;
}

.h-section-1 h1 {
    margin: 0;
    font-size: 40px;
}

.h-section-1-text {
    padding-left: 3%;
    color: rgb(63, 63, 63);
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.h-section-1-text button {
    background-color: white;
    width: 40%;
    height: 50px;
    border-color: black;
    border-width: 4px;
}

.h-section-1-text .button {
    padding-top: 40px;
}

