:root {
    --cover-gradient: linear-gradient(rgb(0, 217, 255), rgb(0, 255, 255));
}

body {
    
}

.container-fluid {
    padding: 0;
}

/* This Is The Nav-Bar Section */

.page-name-bg{
    background: white;
}

.page-name {
    display: inline-flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.bg-light {
    background-color: lightblue;
}

.page-name img{
    height: 100px;
    padding-top: 4px;
    padding-left: 40px;
    padding-right: 30px;
}

.my-nav-bar #navbarSupportedContent {
    margin-left: 50%;
}

.my-nav-bar .navbar-brand {
    margin-left: 100px;
    font-size: 32px;
}


/* THIS IS THE HOME VIDEO SECTION */
.home-video-section {
    display: flex;
}

.home-video-section video {
    height: 700px !important;
}

.home-video-section .home-video-bubbles .badge-secondary {
    background-color: rgb(255, 255, 199);
    margin-top: 50px;
    color: black;
    border-radius: 10px;
}

.home-video-section .home-video-bubbles {
    background-image: linear-gradient(to left, rgb(255, 255, 95), white);
    background-color: black;
    width: 100%;
}


.home-video-section .home-video-bubbles .float-right {
    margin-top: 141px;
    margin-right: 70px;
}

/* This Is The JACRA Licence Information */

.card {
    align-items: center;
}

.card-body {
    text-align: center;
}

.card-img-top {
    width: 100px;
    margin-top: 10px;
}

.modal-image {
    width: 100px;
}

.licence-modal-text {
    text-align: left;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 30%;
        margin: 5px;

    }
}

@media (min-width: 768px) {
    .ml-auto {
        flex: 0 0 30%;
        margin: 5px !important;

    }
}

.jacra-body {
    padding-top: 74px !important;
}

.jacra-body .carousel-inner img {
    width: 500px;
    height: 500px;
}

.jacra-licence-page .modal .ml-auto {
    margin-left:0;
}

.jacra-licence-page-steps {
    display: flex;
}

.jacra-licence-page-steps-content {
    margin-left: 10%;
    margin-right: 5%;
    border-radius: 4px;
    padding: 0px;
}

.licence-page-products{
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.jacra-licence-page h1 {
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 2%;
}

.row {
    justify-content: center !important;
}

.jacra-licence-page .card h5{
    padding-bottom: 10px;
}

.jacra-licence-page-body {
    padding-left: 100px;
    padding-top: 30px;
}

.jacra-licence-page .popup-card {
    background-color: rgb(240, 240, 240);
    border: none;
}

.jacra-licence-page .popup-card .btn-primary {
    border-radius: 20px;
}

.jacra-sidebar {
    background-color: gray;
}


/* This Is The 2025 Page */

.landing-page img {
    margin-top: 50px;
}

.landing-second-section {
    padding-top: 5%;
}

.landing-second-section h1 {
    /* font-size: 100px; */
    text-align: center;
    font-weight: bolder;
}

.landing-second-section h1, .landing-second-section h3{
    color: rgba(242,198,65,255);
}

.landing-second-section-content {
    padding-top: 0%;
    padding-left: 5%;

}

.landing-second-section-content .content {
    padding-top: 3%;
}

.landing-third-section {
    position: relative;
    font-family: 'Glacial Indifference'
}
  
.landing-third-section table {
    text-align: center;
    margin: 0;
}

.overlay-text {
    position: absolute;
    top: 20%;
    display: flex;
    width: 100%;
}

.overlay-text p {
    color: white;
}

.overlay-text-left {
    width: 35%;
    margin-left: 8%;
}

.overlay-text-left-bottom {
    text-align: center;
    padding-top: 40px
}

.overlay-text-left-bottom #explore-link {
    padding-top: 30px;
    text-decoration: underline;
}

.overlay-text-left-bottom #explore-link:hover {
    color: blue;
    cursor: pointer;
}

.overlay-text-right {
    width: 30%;
    margin-left: 15%;
}

.overlay-text-right-content p {
    margin: 0;
}

.landing-page .overlay-text-right {
    color: white;
    text-align: center;
    text-decoration: none;
}

.landing-page .overlay-text-right-content li {
    text-decoration: none;
}

.overlay-text-right-content {
    width: 80%;
    margin-left: 10%;
    margin-top: 70px;
    font-size: large;
    text-align: center;

}

.overlay-text-right-content .head {
    font-weight: bolder;
}

.overlay-text-right-content .bottom {
    padding-top: 25%;
}

.overlay-text-right-content .list-item {
    padding-top: 5%;
}

.landing-fourth-section{
    margin-top: 5%;
    font-family: 'Glacial Indifference'
}

.landing-fourth-section h1 {
    text-align: center;
}

.landing-fourth-section #heading {
    font-weight: bold;
    color: rgba(242,198,65,255);
    font-family: 'Helsinki', sans-serif;
}


.landing-fourth-section .lists {
    display: flex;
    text-align: center;
    text-decoration: none;
    margin-top: 7%;
    font-size: 30px;
}


.landing-fourth-section .lists p{
    width: 70%;
    margin-left: 15%;
    /* background-color: rgb(248, 208, 75); */
    background-color: rgba(11,45,130,255);
    color: white;
    border-radius: 30px;
    box-shadow: -1px 1px 2px black;
}


.landing-fourth-section .lists .left-list, .landing-fourth-section .lists .right-list {
    width: 50%;
}

.landing-fourth-section .import-bill {
    margin-top: 5%
}

.landing-fourth-section .import-bill {
    text-align: center;
}

.landing-fourth-section .import-bill p {
    margin-top: 50px;
    font-size: large;
    width: 40%;
    margin-left: 30%;
}


.landing-fourth-section .alert-info {
    margin-top: 3%;
}
