{% extends "base.html" %}

{% block main %}
<div class="twenty-page">
    <div class="twenty-first-section">
        <img src="{{ url_for('static', filename='2025-banner.png') }}" class="img-fluid" alt="Responsive image">
    </div>

    <div class="twenty-second-section">
        <h1 class="display-1"><strong>25% BY THE YEAR 2025</strong></h1>

        <div class="twenty-second-section-content">
            <div class="content">
                <h3>What Is 25 By 2025?</h3>
                <ul><li>This is an initiative to drive intra-regional partnerships for increased production, food security and intra-regional trade.</li></ul>
            </div>

            <div class="content">
            <h3>OBJECTIVES:</h3>
                <ul>
                    <li>To reduce the ‘yawning’ regional food import bill across the Region, and replace food imported from external countries with food from the Region.</li>
                    <li>To increase the productive output of the Region by creating and actioning policies that facilitate growth.</li>
                    <li>To address food insecurity across the CARICOM.</li>
                </ul>
            </div>

            <div class="content">
                <h3>GOAL: REPLACING IMPORTS WITH REGIONAL PRODUCTION!</h3>
            </div>
        </div>
    </div>

    <div class="twenty-third-section">
        <img src="{{ url_for('static', filename='2025-third.png') }}" class="img-fluid" alt="Responsive image">
        <div class="overlay-text">
            <div class="overlay-text-left">
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">PRODUCT</th>
                            <th scope="col">VALUE OF REGIONAL IMPORTS (USD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>POULTRY MEAT</td>
                            <td>140 MILLION</td>
                        </tr>
                        <tr>
                            <td>PORK</td>
                            <td>39.7 MILLION</td>
                        </tr>
                        <tr>
                            <td>IRISH POTATOES AND ONIONS</td>
                            <td>73.0 MILLION</td>
                        </tr>
                        <tr>
                            <td>Mutton</td>
                            <td>44.1 MILLION</td>
                        </tr>
                        <tr>
                            <td>BEEF</td>
                            <td>86.4 MILLION</td>
                        </tr>
                        <tr>
                            <td>COCONUT PRODUCTS</td>
                            <td>37.5 MILLION</td>
                        </tr>
                        <tr>
                            <td>SHRIMP</td>
                            <td>14.2 MILLION</td>
                        </tr>
                    </tbody>
                </table>
                <p>Source: CPSO</p>
                <div class="overlay-text-left-bottom">
                    <p><span style="font-size: 20px;">Other Agricultural products  being demanded by CARICOM are:</span></p>
                    <p><span style="font-size: 30px; font-weight: bold; color: rgba(242,198,65,255);">CORN, SOYA-BEAN, HATCHING EGGS, FISH PRODUCTS, CASSAVA, HONEY, MILK PRODUCTS, BERRIES.</span></p>
                    <p id="explore-link">EXPLORE- LINK TO CARICOM PRESENTATION</p>
                </div>
            </div>

            <div class="overlay-text-right">
                <h4>NEW POLICIES CREATED TO MAKE REGIONAL TRADE EASIER</h4>

                <div class="overlay-text-right-content">
                    <div class="top">
                        <p class="head">Addressing Non-Tariff Barriers</p>
                        <p class="list-item">Policy for Trade in Animals and Animal Products </p>
                        <p class="list-item">Alternative Settlement Mechanism</p>
                        <p class="list-item">Protocols for Trade in 19 Agricultural Commodities </p>
                    </div>

                    <div class="bottom">
                        <p class="head">Other Focus Areas</p>
                        <p class="list-item">Insurance</p>
                        <p class="list-item">Financing</p>
                        <p class="list-item">Transportation</p>
                    </div>
                 
                </div>
            </div>
        </div>
    </div>

    <div class="twenty-fourth-section">
        <h1 id="heading">Markets Within CARICOM</h1>
        <div class="lists">
            <div class="left-list">

                    <p>Bahamas</p>
                    <p>Barbados</p>
                    <p>Trinidad and Tobago</p>
                    <p>Saint Lucia</p>
                    <p>Antigua and Barbuda</p>
                    <p>St. Kitts and Nevis</p>
                    <p>Grenada</p>
            </div>
            <div class="right-list">
                    <p>St. Vincent and The Grenadines</p>
                    <p>Domonica</p>
                    <p>Guyana</p>
                    <p>Suriname</p>
                    <p>Belize</p>
                    <p>Montserrat</p>
            </div>
        </div>

        <div class="import-bill">
            <h1>The Regional Import Bill is approximately<span style="font-weight: bold;"><br>USD $6 Billion<br>ANNUALLY!</span></h1>
            <p>The 25 by 2025 Initiative is working to redistribute this money among regional producers and distributors!</p>
        </div>

        <div class="alert alert-info" role="alert">
            <h1>GET YOUR SHARE OF THE REGIONAL MARKET!</h1>
        </div>

        
    </div>



</div>
{% endblock %}


