{% extends "base.html" %}
{% block main %}
<div class="aquaculture-body">
    <div class="aquaculture-body-second-section">
        <div class="tilapia-section">
            <img src="{{ url_for('static', filename='tilapia-edge.png') }}" class="card-img-top" alt="...">

            <div class="tilapia-section-text">
                <h1>TILAPIA PRODUCTION</h1>
                <hr>
                <p>Tilapia has huge market potential for expansion owing to its large demand in the domestic market. The tilapia production target for 2025 is 3,500 metric tonnes or approximate increase in production of 370%. Support from investors is required to attain this goal. To aid in achieving this target, the GOJ is constructing a modular recirculating hatchery which will increase the production of fry from 1.2 million per annum to 5 million per annum.</p>
                <p>With the increase in production, and the demand of the local market being met, Tilapia fish can once again be exported to other Caribbean territories and North America.</p>
                <br>
                <h4>Investment Call</h4>
                <p>An investment of JM$3.5 million in a 1-acre pond operation will yield a 57 % return on investment. A 5-acre pond operation start-up cost is approximately JM$12.6 million, with a 95% return on investment, and a 10-acre pond operation is approximately JM$35.1 million with a 104% return on investment.</p>
                <p>To further incentivize production, the government will provide pond construction, feed rate adjustment and water quality testing and training.</p>
            </div>
        </div>


        <div class="aquaparks-section">
            <img src="{{ url_for('static', filename='aquaparks-location.png') }}" class="card-img-top" alt="...">
            <div class="aquaparks-section-text">
                <h1>AQUAPARKS</h1>
                <hr>
                <p class="h6">Through a public-private initiative, we will be establishing two Aquaculture AgroParks on 300 acres of land in Amity Hall, St. Catherine and 200 acres of land in Mitchell Town, Clarendon.</p>
                <p>These lands will be equipped with capital infrastructure such as irrigation and processing facilities to support aquaculture development. Each parcel of land will be fifteen acres each, farmers will have the option of choosing to participate in seedstock production or the on-growing of tilapia. Two parcels will be dedicated to nursery production and eight acres to grow-out of fingerlings to market size.</p>
            </div>
        </div>

        <div class="ornamental-fish-section">
            <div class="ornamental-fish-section-text">
                <h1>Ornamental Fish Production</h1>
                <hr>
                <p>We are seeking to revitalize the local production of ornamental fish and in this regard is targeting the export market. In 2019, it was estimated that the value of the total ornamental fish produced and sold locally was valued at approximately J$15 million. This value represented 90 per cent of Jamaica’s total production. The remaining 10% was exported to countries such as the USA, Canada and UK.</p>
                <p>In 2022, the global ornamental fish market size was valued at US$5,826.1M and it is estimated that by 2031 it will reach approximately US11,525.5M. The top exporters in 2022 were Indonesia ($44.6M), Singapore ($38.2M), Japan ($37.6M), Netherlands ($25.8M), and Sri Lanka ($23.3M). In 2022, the top importers of Ornamental Fish were United States ($66.9M), China ($27.9M), Germany ($21.9M), United Kingdom ($20.5M), and France ($18.6M). Jamaica being very close to the USA would have competitive advantage over these far eastern exporters.</p>
                <p>In Jamaica, ornamental fish are a highly sought after product for local hoteliers, restaurants, and householders. There is potential to invest in this lucrative market through partnering with local actors and facilitating consolidation of production and the development of infrastructure to support the seamless development of the export market. In addition to the US market, there are regional and European markets into which Jamaica can tap into.</p>
            </div>
        </div>

        <div class="seamoss-section">
            <img src="{{ url_for('static', filename='seamoss-background.png') }}" class="card-img-top" alt="...">

            <div class="seamoss-section-text">
                <h1>Seamoss Production</h1>
                <p>There has been an increase in cultivation of sea moss locally due to the expanding export market where there is a high demand. Currently, wild-caught sea moss, locally known as Irish moss is being exported.</p>
                <p>In 2019, the global export of seaweed and seaweed-based hydrocolloids (by 98 countries) was valued at US$2.65 billion (i.e. export of seaweeds alone is valued at US$909 million and seaweed-based hydrocolloids is valued at USD 1.74 billion). In 2022 the top exporters of Seaweeds and other algae were Indonesia ($378M), South Korea ($300M), China ($208M), Philippines ($36.7M), and Japan ($26.7M).</p>
                <p>The National Fisheries Authority is currently in the process of developing a management plan for the seamoss production. This includes the identification of sites which are suitable for the growing of seamoss as well as the development of facilities that will provide farmers with cuttings for the growing of sea moss. Currently work is ongoing with fishers in the production of Irish Moss.</p>
                <p>Globally, seaweeds are utilized in animal feeds (aquaculture feeds for abalone), as agar it is used in the food processing, pharmaceutical and cosmetic industries as well as directly for food due to their high nutritional value. Today the top consumers of seaweed are Indonesia, Japan, Malaysia, the Philippines, Thailand and Vietnam.</p>
            </div>
        </div>

        <div class="oyster-section">
            <div class="oyster-section-text">
                <h1>Oyster Production</h1>
                <hr>
                <p>Jamaica has been practising oyster production since the 1980s. Oyster culture uses low technology infrastructure to produce oysters.</p>
                <p>Potential areas of investment for oyster includes:</p>
                <ul>
                    <li>primary production of oysters in areas deemed suitable for oyster production.</li>
                    <li>Investment in infrastructure to support the grow-out of oysters e.g. oyster hatcheries, depuration facilities, processing facilities for oyster consumption.</li>
                    <li>Investors can use appropriate, modern techniques to facilitate the primary production of oysters and through vertical integration facilitate the production of value-added products.</li>
                </ul>
                <p id="oyster-last">A local market for oysters exists. Oysters are marketed primarily on the half-shell, but there is also the potential for value added products e.g. the oyster punch and marketing of the shucked meat, preparation of bisques and soups, etc. The local oyster industry has experienced a rise in demand.</p>
            </div>
            <img src="{{ url_for('static', filename='oyster-background.png') }}" class="card-img-top"  alt="...">
        </div>

        <div class="why-invest">
            <h1>INVESTMENT IN THE AQUACULTURE VALUE CHAIN - VALUE ADDITION AND PROCESSING OF SEAFOOD</h1>
            <hr>
            <p>There is also potential to invest in the value chain and the processing of seafood. Investment in areas to support value addition such as processing, marketing and distribution of aquaculture products, financing and sale of material and equipment to support aquaculture development are other areas of potential investment.</p>
            <h6>GOVERNMENT SUPPORT FOR FISHERIES</h6>
            <ul>
                <li>Water acres for the development of aquaculture parks with irrigation and processing facilities.</li>
                <li>Extension services</li>
                <li>Production incentive</li>
                <li>Market Support</li>
            </ul>
        </div>
    </div>
    
    <a class="btn btn-primary" id="learn-more" href="https://www.fisheries.gov.jm/ " target="_blank" role="button">Learn More!</a>

</div>

{% endblock %}


