<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOA Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="nav-bar">
            <div class="page-name-bg">
                <div class="page-name">
                    <img src="{{ url_for('static', filename='MOAF-Logo.png') }}" alt="Jamaica">
                    <div class="heading-text">
                        <h1 id="heading-1">Ministry of Agriculture,</h1>
                        <h1 id="heading-2">Fisheries and Mining</h1>
                    </div>
                </div>
            </div>
            <nav class="top-nav">
                <h3>MOAF</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Trade In Goods</a></li>
                    <li><a href="#">Market Access</a></li>
                    <li><a href="#">Registration/Certification</a></li>
                    <li><a href="#">rade Statistics</a></li>
                    <li><a href="#">Guide to Import</a></li>
                    <li><a href="#">Useful Pages</a></li>
                </ul>
            </nav>
        </div>
        <div class="banner">
            <img src="{{ url_for('static', filename='banner.png') }}" alt="Jamaica">
        </div>
        <!-- <nav class="bottom-nav">
            <ul>
                <li class="dropdown"><a href="#"><>Divisions</></a></li>
                    <ul class="dropdown-items">
                        <li><a href="#">Product 1</a></li>
                        <li><a href="#">Product 2</a></li>
                        <li><a href="#">Product 3</a></li>
                    </ul>
                <li class="dropdown"><a href="#"><>Documents</></a></li>
                <li class="dropdown"><a href="#"><>Agencies</></a></li>
                <li class="dropdown"><a href="#"><>Directorate</></a></li>
                <li class="dropdown"><a href="#"><>Opportunities</></a></li>
            </ul>
        </nav> -->
    </header>
    <main>
        <div class="container">

            <div class="main-module">
                {% block main %}{% endblock %}
            </div>
        </div>
    </main>
    <footer>
    </footer>
</body>
</html>
