{% extends "base.html" %}

{% block main %}



<h1>This is my form</h1>

<form action="/submit_form" method="POST">
    <label for="chapter_code">Enter Chapter Code:</label>
    <input type="text" id="chapter_code" name="chapter_code">
    <br>

    <label for="chapter_heading">Enter Chapter Heading:</label>
    <input type="text" id="chapter_heading" name="chapter_heading">
    <br>

    <label for="description">Enter Chapter Description:</label>
    <input type="text" id="description" name="description">
    <br>


    <label for="result">Select Your Result:</label>
    <input type="checkbox" name="result" value="Country">Country</input>
    <input type="checkbox" name="result" value="Kg">Volume</input>
    <input type="checkbox" name="result" value="J$, US$">Value</input>
    <br>

    <button type="submit">SUBMIT</button>

</form>

{% endblock %}