{% extends "base.html" %}

{% block main %}
<div class="export-animals-page">
    <div class="export-animals-first-section">
        <h1>Export<br>Animals<br>and<br>Animal<br>Products</h1>
    </div>

    <hr>

    <!-- Project Start -->
    <div class="container-fluid py-5 my-5 px-0">
        <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-5 mb-5">Step By Step Guide</h1>
            <p>The Veterinary Services Division of the Ministry of Agriculture, Fisheries and Mining facilitates the exportation of all meat and meat products from Jamaica to Regional and International trading partners.</p>
            <p>Step by Step Guides for exporting Animals and Animal products are provided below. Persons should also contact the Veterinary Services Division to get more information on the requirements for the specific commodity they would like to export.</p>
            <br>
        </div>
        <div class="owl-carousel project-carousel bg-dark wow fadeIn" data-wow-delay="0.1s">
            <a class="project-item" href="">
                <img class="img-fluid" src="{{ url_for('static', filename='files/meat.jpg') }}" alt="">
                <div class="project-title">
                    <h5 class="text-primary mb-0">Meat & Meat Products</h5>
                </div>
            </a>
            <a class="project-item" href="">
                <img class="img-fluid" src="{{ url_for('static', filename='files/livestock.jpeg') }}" alt="">
                <div class="project-title">
                    <h5 class="text-primary mb-0">Livestock</h5>
                </div>
            </a>
            <a class="project-item" href="{{ url_for('static', filename='files/Procedure For Exporting Dogs and Cats.pdf') }}" target="_blank">
                <img class="img-fluid" src="{{ url_for('static', filename='files/cat-dog.jpg') }}" alt="">
                <div class="project-title">
                    <h5 class="text-primary mb-0">Cats and Dogs</h5>
                </div>
            </a>
            <a class="project-item" href="{{ url_for('static', filename='files/Procedure For Exporting Horses.pdf') }}"  target="_blank">
                <img class="img-fluid" src="{{ url_for('static', filename='files/horse.jpg') }}" alt="">
                <div class="project-title">
                    <h5 class="text-primary mb-0">Horses</h5>
                </div>
            </a>
            <a class="project-item" href="{{ url_for('static', filename='files/Procedure For Exporting Pet Birds and Other Exotic Animals.pdf') }}" target="_blank">
                <img class="img-fluid" src="{{ url_for('static', filename='files/bird.jpg') }}" alt="">
                <div class="project-title">
                    <h5 class="text-primary mb-0">Pet Birds and Exotic Animals</h5>
                </div>
            </a>
        </div>
    </div>
    <!-- Project End -->

    <div class="export-animals-third-section" id="export-animals-third-section">
        <h1><span style="color:rgba(11,45,130,255);">Apply For Certifications</span></h1>
        <hr size="10">
        <img src="{{ url_for('static', filename='files/apply-man.png') }}" class="img-fluid" alt="Responsive image">
        <div class="export-animals-third-section-content">
            <div class="card">
                <div class="card-body">
                    <div class="card-title-section">
                        <h5 class="card-title helsin">Export Health Certificate</h5>
                        <img src="{{ url_for('static', filename='files/approved.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                    <p class="card-text">Click Here! to download Export Health Certification Application Form</p>
                    <a href="{{ url_for('static', filename='files/export-health-certificate.pdf') }}" target="_blank" class="btn btn-primary">Download Form!</a>
                </div>
            </div>

            <div class="card" id="second-card">
                <div class="card-body">
                    <div class="card-title-section">
                        <h5 class="card-title helsin">Breeder Farm Certificate</h5>
                        <img src="{{ url_for('static', filename='files/approved.png') }}" class="img-fluid" alt="Responsive image">
                    </div>
                    <p class="card-text">Click Here! to download Breeder Farm Certification Application Form</p>
                    <a href="{{ url_for('static', filename='files/breeder-farm-certificate.pdf') }}" target="_blank" class="btn btn-primary">Download Form!</a>
                </div>
            </div>

            <div class="card" id="third-card">
                <div class="card-body" id="third-card-body">
                    <h5 class="card-title helsin">Other Useful Links:</h5>
                    <div class="third-card-buttons">
                        <a href="https://www.moa.gov.jm/content/veterinary-services-division" target="_blank" class="btn btn-primary">Veteranary Services Division</a>
                        <a href="https://www.moatrade.gov.jm/MOA/" target="_blank" class="btn btn-primary">The Ministry of Agriculture & Lands Trade System</a>
                    </div>
                </div>
            </div>
        </div>

    </div>


    

</div>
{% endblock %}


