{% extends "base.html" %}

{% block main %}
<div class="export-plants-page">
    <div class="export-plants-first-section">
        <h1>Export Plants and Plant Products</h1>
        <div class="export-plants-first-section-list">
            <h2><strong>Start Exporting Now:</strong></h2>
            <ul>
                <a href="#"><li><h3><strong>Section 1</strong></h3></li></a>
                <a href="#"><li><h3><strong>Section 2</strong></h3></li></a>
            </ul>
        </div>
    </div>
    <div class="export-plants-second-section">
        <div class="export-plants-overview">
            <div class="export-plants-overview-text">
                <h1>Overview</h1>
                <hr>
                <p>Export permits are required to validate the phytosanitary health of the product and its authenticity as an originating product from Jamaica. The primary agency that manages the export of plants and plant products is the Plant Quarantine and Produce Inspection (PQPI) division.</p>
                <p>Export services are also provided by other agencies depending on the nature of the product. In addition to the PQPI, consult the agencies below for guidance if exporting Coffee, Cocoa, Coconut, Tumeric, Ginger, Other Spices, or Banana.</p>
            </div>
        </div>

        <div class="export-plant-second-section-links">
            <div class="card" style="width: 40%;">
                <img class="card-img-top" src="{{ url_for('static', filename='placeholder-1.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">JACRA</h5>
                    <p class="card-text">Click Here to learn about JACRA export licence</p>
                    <a href="/jacra" target="_blank" class="btn btn-primary">View Page</a>
                </div>
            </div>
            
            <div class="card" style="width: 40%;">
                <img class="card-img-top" src="{{ url_for('static', filename='placeholder-2.png') }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Banana Board</h5>
                    <p class="card-text">Click Here to learn about Banana Board export Permit</p>
                    <a href="/banana-board" target="_blank" class="btn btn-primary">View Page</a>
                </div>
            </div>
        </div>
    </div>


    <div class="export-plants-third-section">
        <div class="export-plants-steps">
            <h1>Steps</h1>
            <p>All plants/plant products being exported from Jamaica must be inspected by the Plant Quarantine/Produce Inspection Branch. All produce for export <strong>MUST</strong> be prepared and packed in an approved packing facility. New exporters may:</p>
            <ol>
                <li>Obtain requirements for packing facility from the Plant Quarantine Produce Inspection Branch</li>
                <li>Make an appointment using the appropriate form for the inspection of the packing facility</li>
                <li>The following information must be provided:
                    <ul>
                        <li>Name and address of the company</li>
                        <li>Location of the packing facility</li>
                        <li>Name, address and telephone number of contact person.</li>
                    </ul>
                </li>
                <li>If the packing facility is approved, the Chief Plant Quarantine Officer will prepare a letter of certification to export.</li>
                <li>All produce must be appropriately packaged in new, clean, properly labeled bags or boxes.</li>
                <li>Labeling on packages must coincide with the information on the export documents.</li>
                <li>A Plant Quarantine / Produce Inspector must inspect all shipments.</li>
                <li>All appointments for inspection must be made at least 24 hours in advance using the appropriate form.</li>
            </ol>

            <p>NB: Please see attached <a href="{{ url_for('static', filename='fee-sheet.pdf') }}" target="_blank">fee sheet</a> for the services provided, packing house requirements and a flow chart of the export process.</p>
        </div>
    </div>
</div>
{% endblock %}