{% extends "base.html" %}

{% block main %}
<div class="home-video-section">
    <video class="video-background" playsinline autoplay muted loop><source src="{{ url_for('static', filename='tree-animation.mp4') }}" type="video/mp4">Your browser does not support the video tag.</video>
    <div class="home-video-bubbles">
        <div class="float-right">
            <h1><span class="badge badge-secondary">Example heading 1</span></h1>
            <h1><span class="badge badge-secondary">Example heading 2</span></h1>
            <h1><span class="badge badge-secondary">Example heading 3</span></h1>
            <h1><span class="badge badge-secondary">Example heading 4</span></h1>
        </div>
    </div>
</div>
{% endblock %}
