{% extends "base.html" %}

{% block main %}
<div class="home-page">
    <div class="h-section-1">
        <img src="{{ url_for('static', filename='jamaica-flag.png') }}" alt="Jamaica Flag">
        <div class="h-section-1-text">
            <h1>Title Text</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, corrupti repudiandae porro quo accusamus aliquam eveniet, molestiae ipsam totam voluptas consequatur eos fugit itaque perspiciatis commodi saepe. Illo assumenda, aliquam placeat enim sequi, debitis aspernatur molestias a neque laborum numquam distinctio dolorem nihil in, dignissimos aut hic facere. Neque sit est odit. Dignissimos laboriosam omnis voluptates molestiae voluptate dicta pariatur consequuntur assumenda quisquam, possimus deleniti ab accusantium. Ex natus, distinctio ad illo, architecto perspiciatis praesentium quod optio, nostrum ipsam temporibus.</p>
            <div class="button">
                <button type="button">Learn More</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}