{% extends "base.html" %}

{% block main %}
<div class="hte-ackee-page">
    <div class="ackee-page-top">
        <h1>Step By Step: How To Export <span style="color: yellow;">Ackee</span></h1>
        <div class="ackee-page-top-text">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae aliquid ad tempore exercitationem accusantium, corporis repellat dolores laborum, beatae quibusdam ab doloribus molestiae dolore autem aspernatur fuga temporibus? Alias quod incidunt ipsa eveniet optio saepe labore facere, maxime unde dolorum reprehenderit dolor iusto. A error consequuntur repellendus animi voluptas? Harum fugiat aliquam dicta maiores a quas, quaerat ex, consequuntur commodi nostrum quam, enim autem impedit dolorem neque? Dignissimos vel, ducimus nihil asperiores nam fugiat reprehenderit nesciunt. Provident vero dicta repellat, facere eveniet repudiandae culpa perferendis, eius quibusdam sunt similique numquam repellendus aliquam magnam ratione omnis nam animi reprehenderit impedit commodi.</p>
            <div class="step-numbering">
                <a href="#step-1">
                    <div class="step-title-number">
                        <h1 id="number-1">1</h1>
                        <h2>Step 1</h2>
                    </div>
                </a>
                <a href="#step-2">
                    <div class="step-title-number">
                        <h1 id="number-2" class="not-1">2</h1>
                        <h2>Step 2</h2>
                    </div>
                </a>
                <a href="#step-3">
                    <div class="step-title-number">
                        <h1 id="number-3" class="not-1">3</h1>
                        <h2>Step 3</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="step-title-number">
                        <h1 id="number-4" class="not-1">4</h1>
                        <h2>Step 4</h2>
                    </div>
                </a>
                <a href="#">
                    <div class="step-title-number">
                        <h1 id="number-5" class="not-1">5</h1>
                        <h2>Step 5</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="ackee-page-bottom">
        <div class="read-more-container">
            <div class="container">
                <h2 id="step-1">Step 1: Step 1 Title</h2>
                <span class="read-more-text">
                    <ul>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptate.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non pariatur consequuntur quos.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </span>
                <button type="button" class="read-more-btn">Read More...</button>
            </div>
            <div class="container">
                <h2 id="step-2">Step 2: Step 2 Title</h2>
                <span class="read-more-text">
                    <ul>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptate.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non pariatur consequuntur quos.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </span>
                <button type="button" class="read-more-btn">Read More...</button>
            </div>
            <div class="container">
                <h2 id="step-3">Step 3: Step 3 Title</h2>
                <span class="read-more-text">
                    <ul>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta, voluptate.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non pariatur consequuntur quos.</li>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                    </ul>
                </span>
                <button type="button" class="read-more-btn">Read More...</button>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </div>
</div>
{% endblock %}
