{% extends "base.html" %}

{% block main %}
<div class="landing-body">
    
    <div class="landing-first-section">
        <!-- <img src="{{ url_for('static', filename='landing-top-background.png') }}" class="img-fluid" id="landing-first-section-background" alt="Responsive image"> -->
        <div class="landing-first-section-content">
            <div class="landing-first-section-main-text">
                <h1>TRADE AND<br>MARKET<br>INTELLIGENCE</h1>
            </div>
            
            <div class="landing-first-section-sub-text">
                <p>MADE SIMPLE</p>
            </div>
        </div>
        <img src="{{ url_for('static', filename='plane-1.png') }}" class="img-fluid plane-img" id="plane-1" alt="Responsive image">
        <img src="{{ url_for('static', filename='plane-2.png') }}" class="img-fluid plane-img" id="plane-2" alt="Responsive image">


    </div>

    
    <div class="landing-second-section">
        <img src="{{ url_for('static', filename='landing-middle-background.png') }}" class="img-fluid" id="landing-second-section-background" alt="Responsive image">
        <div class="landing-second-section-content">
            <div class="landing-second-section-main-text">
                <h1>EXPORT<br>EXPANSION</h1>
            </div>
            
            <div class="landing-second-section-sub-text">
                <p id="step-by-step">Step by Step</p>
                <br>
                <br>
                <p>This Trade Information and Market Intelligence Portal is the comprehensive guide for persons seeking to take advantage of export opportunities and earn from overseas markets.<br><br>The portal provides guidance <a href="#"><span>on the local export process for plants,</span></a> <a href="/export-animals">animals, and animal products</a>.<br><br>You can also access Market intelligence that helps you to identify and access the most lucrative opportunities in <a href="/2025">Local,</a> <a href="/domestic-market">regional,</a> and <a href="/international-market">international</a> for Jamaican Agriculture and Fisheries products overseas.</p>
            </div>
        </div>
        <div class="landing-third-section">
            <div class="container-fluid text-center">
                <div class="row">
                    <div class="col-sm-8">
                        <p>+ MORE</p>
                    </div>
                    <div class="col-sm-4">
                        <img src="{{ url_for('static', filename='boat.png') }}" class="img-fluid" id="boat" alt="Responsive image">
                    </div>
                </div>
                <div class="row" id="bottom-row">
                    
                    <div class="col-sm" id="col-1">
                        <a href="/investment-crops">
                        <div class="column-container">
                            <div class="col-num">
                                <p class="column-numer-label">01</p>
                            </div>
                            <div class="col-text">
                                <p>Access Investment Profiles for Priority products, including minimum investment, acreage and ROI.</p>
                            </div>
                            <div class="col-img">
                                <img src="{{ url_for('static', filename='column-1.png') }}" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                        </a>
                    </div>
                    
                    <div class="col-sm" id="col-2">
                        <a href="/investment-crops#ruminants-button">
                        <div class="column-container">
                            <div class="col-num">
                                <p class="column-numer-label">02</p>
                            </div>
                            <div class="col-text" id="col-2-text">
                                <p>Leverage Incentives provided by the Government that help you to maximize your productivity and ROI.</p>
                            </div>
                            <div class="col-img">
                                <img src="{{ url_for('static', filename='column-2.png') }}" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                        </a>
                    </div>
    
                    <div class="col-sm" id="col-3">
                        <a href="/overseas">
                        <div class="column-container">
                            <div class="col-num">
                                <p class="column-numer-label">03</p>
                            </div>
                            <div class="col-text">
                                <p>Access an database of international BUYERS of your product.</p>
                            </div>
                            <div class="col-img" id="col-3-img">
                                <img src="{{ url_for('static', filename='column-3.png') }}" class="img-fluid" alt="Responsive image">
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}



