{% extends "base.html" %}
<!-- <img class="d-block w-100" src="{{ url_for('static', filename='coffee-carousel.jpg') }}" alt="First slide"> -->

{% block main %}
<div class="sbs-tbt-page">
    <strong>
    <h4>SPS Enquiry Point</h4>
    <p>Plant Quarantine Division, Ministry of Industry, Commerce Agriculture and Fisheries (MICAF)</p>
    <p>193 Old Hope Road Kingston 6, JAMAICA</p>
    <p>Telephone 876-977-0637/876-977-6401</p>
    <p>Fax 876-927-8907</p>
    <p>Email: ppq@micaf.gov.jm or plantquarantine@gmail.com</p>

    <br>
    <br>

    <h4>TBT Enquiry Point</h4>
    <p>The Bureau of Standards Jamaica (BSJ)</p>
    <p>6 Winchester Road, Kingston 10, Jamaica</p>
    <p>Tel: (876) 618-1534, (876) 632-4275</p>
    <p>Email: info@bsj.org.jm</p>
    </strong>
</div>
{% endblock %}


