{% extends "base.html" %}

{% block main %}
<div class="agreements-body">

    <body>
        <!-- Page Header Start -->
        <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5">
                <h1 class="display-3 text-white animated slideInRight">Free Trade Agreements</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb animated slideInRight mb-0">
                        <li class="breadcrumb-item"><a href="/landing">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Market Acess</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Trade Agreements</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!-- Page Header End -->


        <!-- Features Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="position-relative me-lg-4">
                            <img class="img-fluid w-100" src="{{ url_for('static', filename='elevator-img.jpg') }}" alt="">
                            <span
                                class="position-absolute top-50 start-100 translate-middle bg-white rounded-circle d-none d-lg-block"
                                style="width: 120px; height: 120px;"></span>
                            <button type="button" class="btn-play" data-bs-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                                <span></span>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                        <!-- <p class="fw-medium text-uppercase text-primary mb-2">Overview</p> -->
                        <h1 class="display-5 mb-4">Overview</h1>
                        <p class="mb-4">
                            Free Trade Agreements assist Jamaican importers and exporters by providing improved access for goods and/or services in contracting states, and by reducing trade barriers in those markets. Among other things, FTAs:
                            <ul>
                                <li>Grant preferential tariff rates for originating goods traded among contracting parties;</li>
                                <li>Establish the rules by which goods can qualify as originating;</li>
                                <li>Outline Customs procedures for accessing preferential tariff rates;</li>
                                <li>Sets out the general principles for customs procedures among the contracting parties of an Agreement</li>
                            </ul>
                        </p>
                        <div class="row gy-4">
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <h4>Practical Guidance to Using FTAs:</h4>
                                        <span>
                                            <ol>
                                                <li>Determine the proper tariff classificationfor the goods</li>
                                                <li>Consult specific FTA to ascertain if products of that tariff heading are eligible for preferential access</li>
                                                <li>Consult specific FTA to find out the rules of origin relevant to the specific goods to be traded</li>
                                                <li>Ensure that you meet the direct consignment rule</li>
                                                <li>Ensure that you have and maintain correct and complete documentation for the goods</li>
                                            </ol>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 btn-lg-square rounded-circle bg-primary">
                                        <i class="fa fa-check text-white"></i>
                                    </div>
                                    <div class="ms-4">
                                        <h4>In order to benefit under an FTA:</h4>
                                        <span>
                                            <ul>
                                                <li>The trader must present a valid, original certificate of origin for the goods seeking preferential access when submitting the relevant import declaration;</li>
                                                <li>The goods must also have been directly consigned from the relevant exporting contracting party to Jamaica.</li>
                                            </ul>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features End -->
    
    
        <!-- Video Modal Start -->
        <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                                allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Modal End -->   
    
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i
                class="bi bi-arrow-up"></i></a>
    
    
        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="lib/wow/wow.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/waypoints/waypoints.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>
        <script src="lib/counterup/counterup.min.js"></script>
    
        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

    <hr>


    <div class="agreements-bottom">

        <div class="agreements-content">

            <div class="agreements-summaries">

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-1">

                        The US Caribbean Basin Initiative (CBI)
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-1" tabindex="-1" aria-labelledby="exampleModalLabel-1" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-1">The US Caribbean Basin Initiative (CBI)</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The CBI, which is the Caribbean Basin Economic Recovery Act (CBERA), was
                                        introduced in 1983 and enhanced in 1990 for an indefinite period. In 2000, the
                                        CBERA was further expanded through the enactment of the Caribbean Basin Trade
                                        Partnership Act (CBTPA) providing for additional preferential access for Caribbean
                                        Basin products. The Programme is intended to facilitate the development of partner
                                        countries in the Caribbean region by providing granting them duty free access to the
                                        U.S. market for most goods. The CBTPA is slated to expire on September 30, 2030.</p>
                                    <br>

                                    <p><strong>Goods coverage:</strong> Most products are eligible for duty-free, quota free access to the
                                        USA, with the exception of canned tuna, petroleum and petroleum products,
                                        footwear, work gloves, luggage, handbags, flat leather goods such as wallets, leather
                                        apparel, and watches and watch parts, if any components originate in a Communist
                                        country. Duty-free sugar exports are also limited either by absolute quotas or by
                                        ""competitive need"" limits contained in the US Generalized System of Preferences
                                        (GSP). These restrictions are intended to ensure that duty-free sugar imports will not
                                        impede the United States price support system for domestically produced sugar.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://uscode.house.gov/view.xhtml?path=/prelim@title19/chapter15&edition=prelim" target="_blank"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                        <img src="{{ url_for('static', filename='domonican-republic.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>CARICOM/ Dominican Republic Free Trade Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-2" tabindex="-1" aria-labelledby="exampleModalLabel-2" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-2">CARICOM/ Dominican Republic Free Trade Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>This Free Trade Agreement was signed on the 22nd of August 1998 and
                                        provisionally entered into force in December 2001, following the signing of the
                                        Framework Agreement, along with the Protocol implementing the Agreement on 28th
                                        April 2000. The FTA is based on reciprocity with the five More Developed Countries
                                        of CARICOM (MDCs), which includes Jamaica.</p>

                                    <p><strong>Goods coverage:</strong> The Agreement allows for duty-free trade for about ninety percent
                                        of the goods traded between the Dominican Republic and Jamaica. For those
                                        products not eligible for duty free treatment, the Agreement provides for phased
                                        reduction of duties by 2004, and the Most Favourable Nation Treatment for the
                                        remainder.</p>

                                    <p>Consequently, most goods can be imported into the DR duty free or benefit from the
                                        phased reduction of tariffs to zero, except for certain goods for which MFN duties will
                                        apply. Some specified agricultural products will also have their MFN tariffs re-
                                        imposed during pre-specified months of each year based on seasonal application.
                                        Notably, products covered by the CARICOM’s Oils and Fats Agreement will continue
                                        to be protected and are not subject to free trade.</p>
                                    <br>
                                    
                                    <p><strong>Rules of Origin/Cumulation:</strong> Products wholly produced, harvested or birthed within
                                        the territories, territorial waters and EEZs of the Parties, as well as those obtained in
                                        international waters by ships owned or partially owned by nationals of the Parties,
                                        are considered to have originated from the territory of the Parties. Substantial
                                        transformation, however, must take place in order for extra-territorial products to be
                                        deemed originating, while goods resulting from cumulation, in the production of
                                        goods using inputs obtained from the contracting Parties, are also deemed
                                        originating. A De minimis (or maximum ignorable) allowance of not more than 7% of
                                        inputs being untransformed is also provided for.</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.jacustoms.gov.jm/sites/default/files/docs/TradeAgreements/Agreement%20Establishing%20The%20Free%20Trade%20Area%20between%20The%20Caribbean%20Community%20and%20The%20Dominican%20Republic.pdf" target="_blank"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-3">
                        CARICOM- REVISED TREATY OF CHAGUARAMAS
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-3" tabindex="-1" aria-labelledby="exampleModalLabel-3" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-3">CARICOM- REVISED TREATY OF CHAGUARAMAS</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Overview</h5>
                                    <p>The Caribbean Community (CARICOM), established by the 1973 Treaty of
                                        Chaguaramas, created a customs union and later introduced a Common External
                                        Tariff (CET) in 1992. Under the 2001 Revised Treaty of Chaguaramas establishing
                                        the CARICOM Single Market and Economy (CSME), the regional arrangement was
                                        further enhanced to facilitate the free movement of goods, services, labour and
                                        capital, as well as the right to establish businesses throughout the Community.
                                        Currently, only the CARICOM Single Market is operational. The Treaty also provides
                                        for the implementation of a common trade policy.</p>

                                    <h5>Members of the CSME</h5>
                                    <p>Antigua and Barbuda, Barbados, Belize, Dominica, Grenada, Guyana, Haiti,
                                        Jamaica, St. Kitts and Nevis, Saint Lucia, St. Vincent and the Grenadines, Suriname,
                                        Trinidad and Tobago.</p>
                                        <!-- REMEMBER TO ADD ITALIC -->
                                    <p>***It should be noted that the Bahamas and Montserrat are not participating in
                                        the CSME.</p>

                                    <h5>Free movement of goods and services</h5>
                                    <p>CARICOM works to achieve the free (unrestricted) movement of goods and services
                                        in the region through measures such as the elimination of all barriers to intra-regional
                                        movement and harmonising standards to ensure acceptability of goods and services.</p>

                                    <h5>Common External Tariff</h5>
                                    <p>The Common External Tariff (CET) is a single tariff rate agreed to by all members of
                                        the CARICOM community on imports of a product from outside the CARICOM.
                                        Goods imported from third countries (non-CARICOM States) are subject to the
                                        duties listed in the CET, but goods imported from CARICOM countries, certified to be
                                        of CARICOM origin do not generally attract these import duties. <strong>These CARICOM
                                        origin goods enjoy duty-free status</strong>, that is, they are not subject to customs import
                                        duty.</p>

                                    <h5>Rules of Origin/Cumulation</h5>
                                    <p>To qualify for duty free treatment, goods must be wholly produced within the
                                        Community or produced within the Community from materials imported from outside
                                        that have been substantially transformed. That is, they must ultimately be classified
                                        under a different tariff heading from that of the source materials.</p>
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://caricom.org/documents/4906-revised_treaty-text.pdf" target="_blank"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
                        <img src="{{ url_for('static', filename='canada.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>The Canada/CARIBCAN Free Trade Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-4" tabindex="-1" aria-labelledby="exampleModalLabel-4" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-4">Trade and Economic Cooperation Agreement Between the Government of Canada and the Governments of the Member States of the Caribbean Common Market (CARIBCAN)</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h5>Introduction</h5>
                                    <p>CARIBCAN is an economic and trade development assistance program for the
                                        Commonwealth Caribbean countries and territories established following of a
                                        commitment by Canada at the Commonwealth Heads of Government meeting in
                                        Nassau in October 1985.</p>
                                    <p>The objectives of CARIBCAN are to enhance Commonwealth Caribbean trade and
                                        export earnings, improve the trade and economic development prospects of the
                                        region, promote new investment opportunities, and encourage enhanced economic
                                        integration and co-operation. The main feature of CARIBCAN is the unilateral
                                        extension by Canada, beginning on 15 June 1986, of <strong>duty-free access to the
                                        Canadian market for most commodities originating in Commonwealth
                                        Caribbean countries.</strong></p>
                                    <p>On November 28, 1986, the Contracting Parties to the General Agreement on Tariffs
                                        and Trade (GATT) decided to waive the provisions of paragraph 1 of Article 1 of the
                                        General Agreement until June 15, 1998. This waiver allowed the Government of
                                        Canada to offer duty-free treatment to eligible imports from Commonwealth
                                        Caribbean countries under CARIBCAN, without extending the same treatment to
                                        similar products from other contracting parties (L/6102). On July 28, 2015, the World
                                        Trade Organization (WTO) extended the CARIBCAN waiver (WT/L/958) until
                                        December 31, 2023, with the conditions of the waiver remaining unchanged.</p>

                                    <h5>Country Coverage</h5>
                                    <p>The Customs Tariff lists 18 countries or dependent territories which are eligible to
                                        receive the duty-free benefits accorded under CARIBCAN, namely: Anguilla,
                                        Antigua-Barbuda, Bahamas, Barbados, Belize, Bermuda, the British Virgin Islands,
                                        the Cayman Islands, Dominica, Grenada, Guyana, <strong>Jamaica</strong>, Montserrat, St.
                                        Christopher (St. Kitts) and Nevis, St. Lucia, St. Vincent and the Grenadines, Trinidad
                                        and Tobago, and the Turks and Caicos Islands.</p>

                                    <h5>Product Coverage</h5>
                                    <p>There have been no amendments to CARIBCAN product coverage since the
                                        changes made in February 1998.</p>
                                    
                                    <p>Presently, the product exclusions from the duty-free provisions of CARIBCAN are:</p>
                                    <ul>
                                        <li>Goods of HS Chapters 50 to 65 inclusive;</li>
                                        <li>Goods covered by tariff items with "over access commitment" rates of duty
                                            established in the "tariffication" process.</li>
                                    </ul>

                                    <h5>Rules of Origin</h5>
                                    <p>The rules of origin for the purposes of the Commonwealth Caribbean Countries Tariff
                                        (CCCT) treatment are set out in regulations enacted pursuant to Section 16 of the
                                        Customs Tariff.</p>

                                    <p>To qualify for the duty-free treatment accorded to Commonwealth Caribbean
                                        countries, at least 60% of the ex-factory price of the goods as packed for shipment to
                                        Canada must originate in one or more beneficiary countries or Canada. The 60%
                                        qualifying content may be cumulated from various CARIBCAN beneficiary countries
                                        or Canada. The goods must be finished in the beneficiary country in the form in
                                        which they are imported into Canada. Pursuant to the Proof of Origin Regulations,
                                        either a duly completed Certificate of Origin, Form A, or a written statement of origin
                                        signed by the exporter, must be presented to Customs at the time of release,
                                        accounting or refund.</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.treaty-accord.gc.ca/text-texte.aspx?id=104941" target="_blank"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-5">
                        <img src="{{ url_for('static', filename='united-kingdom.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>CARIFORUM-European Union (EU) & UK Economic Partnership Agreements</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-5" tabindex="-1" aria-labelledby="exampleModalLabel-5" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-5">CARIFORUM-European Union (EU) & UK Economic Partnership Agreements</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The CARIFORUM-EU Economic Partnership Agreement (EPA) is a trade and
                                        development agreement signed by 15 CARIFORUM States (The Caribbean Forum
                                        [CARIFORUM] is a subgroup of African, Caribbean and Pacific States [OACPS]) in
                                        2008. The agreement governs the trade in goods as well as trade in services and
                                        commitments on investment, trade-related issues including government
                                        procurement, competition policy, intellectual property rights and sustainable
                                        development.</p>
                                    
                                    <h5>CARIFORM MEMBERS</h5>
                                    <p>Overall, 14 CARIFORUM countries are implementing the CARIFORUM –EU EPAs:</p>
                                    <ul>
                                        <li>Dominican Republic</li>
                                        <li>Caribbean Community states:</li>
                                        <ul>
                                            <li>Antigua and Barbuda</li>
                                            <li>The Bahamas</li>
                                            <li>Barbados</li>
                                            <li>Belize</li>
                                            <li>Dominica</li>
                                            <li>Grenada</li>
                                            <li>Guyana</li>
                                            <li><strong>Jamaica</strong></li>
                                            <li>Saint Lucia</li>
                                            <li>Saint Vincent and the Grenadines</li>
                                            <li>Saint Kitts and Nevis</li>
                                            <li>Suriname</li>
                                            <li>Trinidad and Tobago</li>
                                        </ul>
                                    </ul>
                                    <p>Unlike the CBI and CARIBCAN, the CARIFORUM is a reciprocal preferential trade
                                        agreement which essentially means that both regions are required to open their
                                        markets for the free flow of trade, in accordance with World Trade Organization
                                        regulations. The agreement allows the for duty free and quota free access to the
                                        European and UK markets for all goods except arms and ammunition. Since 2019,
                                        following the United Kingdom’s exit from the European Union, a separate agreement
                                        between CARIFORUM States and the UK has governed trade between the parties.</p>

                                    <h5>Asymmetric provisions</h5>
                                    <p>The EPA does provide particular non-reciprocal benefits for CARIFORUM including
                                        the exclusion of sensitive products from the liberalization process, extended
                                        liberalization periods, flexible rules of origin, and <strong>special safeguards and measures
                                        for agriculture, food security and grassroots industry protection.</strong></p>

                                    <p>The EU also immediately and fully liberalized trade for the CARIFORUM States
                                        while, CARIFORUM Members have 15-25 years to gradually reduce trade barriers
                                        for EU imports.</p>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://publications.europa.eu/resource/cellar/f5c1c99f-9d19-452b-b0b0-ed690a53dd5f.0006.05/DOC_1" target="_blank"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-6">
                        <img src="{{ url_for('static', filename='venuzuela.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>The CARICOM-Venezuela Trade and Investment Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-6" tabindex="-1" aria-labelledby="exampleModalLabel-6" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-6">The CARICOM-Venezuela Free Trade Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The CARICOM Venezuela Trade and Investment Agreement is the first of the bilateral trade agreements CARICOM signed with the Bolivarian Republic of Venezuela in October 1992 and ratified in June 2006.
                                        <br>This Agreement is currently a non-reciprocal preferential Agreement in favour of CARICOM and allows selected products which have been agreed to by the Parties to enter the Venezuelan market free of duty from all CARICOM countries.  From Barbados’ perspective, given that CARICOM is not required to reciprocate this preferential access, it therefore follows that Barbados must grant Venezuela Most Favoured Nation (MFN) treatment in respect of all goods imported from that country.  MFN treatment refers to the tariff applied to goods at the border of a particular WTO Member when exported from another WTO Member. </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.foreign.gov.bb/free-trade-agreements/"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-7">
                        <img src="{{ url_for('static', filename='colombia.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>The CARICOM-Colombia Trade, Economic and Technical Cooperation Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-7" tabindex="-1" aria-labelledby="exampleModalLabel-7" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-7">The CARICOM-Colombia Free Trade Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The Agreement on Trade, Economic and Technical Cooperation between CARICOM and Colombia was signed in July 1994 and ratified in June 2006. This Agreement began as a non-reciprocal agreement providing for the one way preferential access of certain products from CARICOM to the Colombian market. The Parties, however, agreed for a level of reciprocity to ensue on a select list of goods four (4) years after entry into force of the non-reciprocal agreement.   A protocol amending the Agreement to allow for this reciprocity was signed in May 1998. 
                                        <br>The Protocol to the Agreement outlines a list of items subject to duty free trade as well as a list of items eligible for phased reduction of duty between the CARICOM MDCs of Barbados, Guyana, Jamaica and Trinidad and Tobago and Colombia.  The Lesser Developed Members of CARICOM are not required to grant preferential access to Colombia.  It should be noted that the phasing process for goods under this list has been completed.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.foreign.gov.bb/free-trade-agreements/"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-8">
                        <img src="{{ url_for('static', filename='cuba.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>The CARICOM-Cuba Free Trade Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-8" tabindex="-1" aria-labelledby="exampleModalLabel-8" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-8">The CARICOM-Cuba Trade and Economic Cooperation Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The fourth bilateral agreement signed by CARICOM and to which Barbados is a Party, is the CARICOM Cuba Trade and Economic Cooperation Agreement.  This Agreement was signed between the Parties in July 2000 and seeks to strengthen their commercial and economic ties.  The Agreement allows for the reciprocal preferential trade in goods between the CARICOM MDCs of Barbados, Guyana, Jamaica, Suriname and Trinidad and Tobago and Cuba.  The Least Developed Countries of CARICOM are not required to engage in the liberalisation effort.
                                        <br>At a Joint Commission Meeting in 2007, at the initiative of Cuba, both Parties commenced negotiations for preferential access for additional products into each other’s market. 
                                        <br>Discussions at future Joint Commission Meetings between the two parties led to the formation of the Second (2nd) Additional Protocol of the Trade and Economic Cooperation Agreement between the Caribbean Community (CARICOM) and the Government of the Republic of Cuba.  The Second (2nd) Additional Protocol to the Trade and Economic Cooperation Agreement was signed by CARICOM and Cuba on 10 November 2017 in the margins of the Forty-Fifth (45th) Meeting of the Council for Trade and Development (COTED) in Georgetown, Guyana. </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.foreign.gov.bb/free-trade-agreements/"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="agreement">
                    <!-- <button type="button" class="btn btn-primary main-button" data-bs-toggle="modal" data-bs-target="#exampleModal-9">
                        <img src="{{ url_for('static', filename='costa-rica.png') }}" class="img-fluid" alt="Responsive image">
                        <h6>The CARICOM-Costa Rica Free Trade Agreement</h6>
                    </button> -->
                    
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal-9" tabindex="-1" aria-labelledby="exampleModalLabel-9" aria-hidden="true">
                        <!-- <div class="modal-dialog modal-dialog-scrollable modal-xl"> -->
                        <div class="modal-dialog modal-dialog-scrollable modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel-9">The CARICOM-Costa Rica Free Trade Agreement</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>The most recently concluded bilateral agreement between CARICOM and the Spanish speaking countries of the hemisphere is the CARICOM-Costa Rica Free Trade Agreement which was signed on March 9, 2004 and ratified in June 2006.  As part of this Agreement, the CARICOM MDCs of Barbados, Guyana, Jamaica, Suriname and Trinidad and Tobago and Costa Rica agreed to reciprocal preferential market access for a select range of products (goods).
                                        <br>The Agreement provides for preferential access for a wide range of products.  Some sensitive products have been excluded from free trade and a special list of products have been granted differentiated market access between Costa Rica and each of the CARICOM MDCs.  There is also a list of products on a phased reduction of duty list.  This phased reduction of duty list is no longer relevant given that the time period for liberalisation of the goods has ran its course.
                                        <br>The first Joint Council Meeting between the Parties took place on 17 June 2015 and concluded on 18 June 2015.
                                        <br>Major issues discussed at the Joint Council Meeting include non-tariff barriers, treatment for selected agricultural products, contact points, services and transportation.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <a href="https://www.foreign.gov.bb/free-trade-agreements/"><button type="button" class="btn btn-primary">Full Agreement</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="agreements-cards">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='usa-flag.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The US Caribbean Basin Initiative (CBI)</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-1">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='costa-rica.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">CARICOM/ Dominican Republic Free Trade Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-2">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <!-- No image -->
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">CARICOM- REVISED TREATY OF CHAGUARAMAS</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-3">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='canada.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The Canada/CARIBCAN Free Trade Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-4">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='united-kingdom.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">CARIFORUM-European Union (EU) & UK Economic Partnership Agreements</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-5">
                                    Agreements
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='venuzuela.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The CARICOM-Venezuela Trade and Investment Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-6">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='colombia.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The CARICOM-Colombia Trade, Economic and Technical Cooperation Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-7">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='cuba.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The CARICOM-Cuba Free Trade Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-8">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col">
                <div class="card h-100 d-flex flex-column" style="max-width: 540px;">
                    <div class="d-flex g-0 flex-grow-1">
                        <div class="col-md-4">
                            <img src="{{ url_for('static', filename='costa-rica.png') }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">The CARICOM-Costa Rica Free Trade Agreement</h5>
                                <button type="button" class="btn btn-primary main-button mt-auto" data-bs-toggle="modal" data-bs-target="#exampleModal-9">
                                    Agreement
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="agreements-click-here-button" id="agreements-learn-more">
        <a class="btn btn-primary" id="agreements-learn-more" href="#" target="_blank" role="button">Click Here To Learn More!</a>
    </div>
    <!-- 
    <a href="http://www.sice.oas.org/ctyindex/JAM/JAMagreements_e.asp" target="_blank">
        <div class="agreements-click-here-button" id="agreements-learn-more">
            <h3>Click Here<br>To Learn More</h3>
        </div>
    </a> -->
</div>
{% endblock %}