{% extends "base.html" %}

{% block main %}
<div class="training-body">
    <div class="export-expansion">
        <img src="{{ url_for('static', filename='elevator-img.jpg') }}" class="img-fluid" id="elevator-img" alt="Responsive image">
        
        <div class="export-text">
            <div class="export-text-header">
                <h1>Overview</h1>
            </div>

            <p>The Export Expansion Clinic is an initiative of the Trade Unit, to continue to operationalize the Ministry’s
                strategic objective of increasing domestic export. The Export Expansion Clinics are workshops and
                forums designed to equip new and existing exporters, farmers, agro-processors and other stakeholders
                with essential information, key insights and perspectives to increase positive export outcomes. The
                Clinics represent a continuous effort of the Trade Unit to reduce the proverbial red tape surrounding
                export and increase stakeholder engagement with the Unit and by extension the Ministry, fostering
                greater synergies for the holistic development of the agriculture sector.</p>

            <div class="export-expansion-links">
                <a href="https://forms.office.com/r/3bdQ3fSNKu" target="_blank">
                    <div class="agreements-click-here-button" id="agreements-register">
                        <h3>Click Here To Register</h3>
                        <!-- <img src="{{ url_for('static', filename='register.png') }}" class="img-fluid" alt="Responsive image"> -->
                    </div>
                </a>

                <div class="export-expansion-add-info">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
                        Market Opportunities
                    </button>
                      
                    

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                        Export Readiness
                    </button>                                      

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal4">
                        Target Participants
                    </button>

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal5">
                        Organization and Delivery
                    </button>
                      
                      
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div class="business-development">
        <h1>TESTIMONIALS</h1>
        <div class="business-body">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/psK7xWOl_q8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Xb4ja_xjlnA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <!-- /*Put here*/ -->
    <div class="my_modals">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel1">Market Opportunities</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Participants will be apprised of:</p>
                        <ul>
                            <li>The various market opportunities for export of agricultural products</li>
                            <ol>
                                <li>Market trends (demand, CAGR)</li>
                                <li>Product pricing</li>
                            </ol>

                            <li>Market access</li>
                            <ol>
                                <li>Preferential trade agreements (CBI, CARIBCAN, EPAs)</li>
                                <li>CSME</li>
                                <li>MFN Treatment</li>
                            </ol>

                            <li>Market Penetration</li>
                            <ol>
                                <li>Strategies for entry and establishment</li>
                                <li>Strategic support for linkages and business development</li>
                            </ol>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel2">Export Readiness</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Export readiness assessment</li>
                            <ol>
                                <li>Exporter’s assessment (knowledge of export procedures, standards, requirements and processes, market identification)</li>
                                <li>Farmer’s assessment (knowledge of desired product standards, farm operations,health and safety requirements, post-harvest care).</li>
                                <li>Agro-processors assessment (knowledge of product standards, packaging, labelling, value positioning)</li>
                            </ol>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel4">Target Participants</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>Farmers (Prospective, New, Existing)</li>
                            <li>Agro-processors (Prospective, New, Existing)</li>
                            <li>Exporters (Prospective, New, Existing)</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel5" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel5">Organization and Delivery</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <li>The Clinics will be conducted in live and virtual modalities</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}